.profile-table {

  margin: 10px 71px;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.58);
  .table-header{
    background: #82b0cf;

  }
}
.profile-logout {
  margin: 4px 71px;
}
