.container{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.container h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.container button{
    padding: 10px 20px;
    background-color: #007bff;
    color:  rgb(102, 238, 208);
    border: none;
    cursor: pointer;
    text-decoration:underline;
} 